* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar-links {
  position: fixed;
  top: -100%;
  z-index: 100;
  transition: all 0.3s linear;
}

.navbar-links.active {
  top: 0;
}

.navbar-button {
  position: fixed;
  top: 20px;
  right: 20px;
}
/* 
.navbar-button:hover {
  background: #e63838;
  border-radius: 50px;
  transition: all 0.3s linear;
} */

/* .social-icons {
} */

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 100%;
  padding: 10px;
}

.footer-container div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.social-icons .fab:hover {
  background: #white;
  border-radius: 50px;
  color: black;
  transition: all 0.3 linear;
}

#myMenu {
  display: flex;
  justify-content: center;
  align-items: center;
}

#home-container header {
  height: 100%;
}

.heading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.section {
  padding: 10px 10%;
}
s .content {
  width: 100%;
  height: 100%;
}

/* Home Page Styling */
#home-container {
  display: flex;
  justify-content: center;
  height: 100%;
  /* align-items: center;
    flex-direction: column;
    gap: 15px; */
}

#form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  float: right;
  margin-left: 260px;
}

.heading {
  text-transform: uppercase;
  text-shadow: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.form-group {
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form-input {
  border: none;
  outline: none;
  color: black;
  background: none;
  border: 0.25rem solid var(--color-black);
  text-align: center;
  border-radius: 50px;
  padding: 10px;
}

.form-input::placeholder {
  color: #e63838;
}

.button {
  border: none;
  outline: none;
  color: white;
  padding: 2% 5%;
  text-transform: uppercase;
  border-radius: 50px;
  background: red;
}

.button:hover {
  border-radius: 50px;
  background: linear-gradient(145deg, #405561, #4c6574);
  box-shadow: 11px 11px 23px #3c505c, -11px, -11px, 23px #526c7c;
}

.contact-details {
  display: flex;
  flex-direction: column;
  line-height: 34px;
}

#contact-container {
  height: 100%;
}

.form-contact-container {
  display: flex;
}

#work-container {
  height: 100%;
}

#skills-container {
  height: 100%;
}

#projects-container {
  height: 100%;
}

#testimonial-container {
  height: 100%;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #e63838;
  color: white;
  /* text-align: center; */
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

/* work and education */
.card {
  width: 440px;
  height: 170px;
  border: 0.25rem solid black;
}

.card-container {
  display: flex;
  justify-content: flex-start;

  flex-wrap: wrap;
  gap: 20px;
}

.content {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about-me-section {
  position: relative;
}

.about-me-section h2 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.work-and-education {
  position: relative;
}

.work-and-education h2 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.box {
  margin: 25px;
  width: 250px;
  height: 250px;
  background: #fff;
  border: solid black;
  border-color: black;
  background-image: url(./Images/comicbookbackground.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.box1 {
  border-width: 3px 4px 3px 5px;
  border-radius: 95% 4% 92% 5%/4% 95% 6% 95%;
  transform: rotate(2deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.box2 {
  width: 350px;
  border-width: 3px 3px 5px 5px;
  border-radius: 4% 95% 6% 95%/95% 4% 92% 5%;
  transform: rotate(-2deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box3 {
  border-width: 5px 3px 3px 5px;
  border-radius: 95% 4% 97% 5%/4% 94% 3% 95%;
  transform: rotate(2deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.oddboxinner {
  margin: 15px;
  transform: rotate(-2deg);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.evenboxinner {
  transform: rotate(2deg);
  margin: 15px;
  /*   padding:0 5px; */
  /*   float:right; */
  /*   background:#ddd; */
  /*   border:1px solid #222;
  box-shadow:3px 3px 0 #222; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-container {
  display: flex;
  flex-wrap: wrap;
}

.box p {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.box h3::before,
.box h3::after {
  content: "-";
}

.box-container p {
  font-weight: bold;
}

.about-me-section blockquote {
  background-image: url(./Images/comicbookbackground.-2jpg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.header {
  display: none;
}

.comic {
  display: flex;
  flex-wrap: wrap;
  font-family: "Comic Sans", cursive;
  padding: 10px;
  width: 90%;
}

.panel {
  background-color: #fff;
  border: solid 2px #000;
  box-shadow: 0 6px 6px -6px #000;
  display: inline-block;
  flex: 1 1;
  height: 200px;
  margin: 10px;
  overflow: hidden;
  position: relative;
}

.text {
  background-color: #fff;
  border: solid 2px #000;
  margin: 0;
  padding: 3px 10px;
}

.top-left {
  left: -6px;
  position: absolute;
  top: -2px;
  transform: skew(-15deg);
}

.bottom-right {
  bottom: -2px;
  position: absolute;
  right: -6px;
  transform: skew(-15deg);
}

.speech {
  background-color: #fff;
  border: solid 2px #000;
  border-radius: 12px;
  display: inline-block;
  margin: 0.5em;
  padding: 0.5em 1em;
  position: relative;
}

.speech:before {
  border: solid 12px transparent;
  border-left: solid 12px #000;
  border-top: solid 12px #000;
  bottom: -24px;
  content: "";
  height: 0;
  left: 24px;
  position: absolute;
  transform: skew(-15deg);
  width: 0;
}

.speech:after {
  border: solid 10px transparent;
  border-left: solid 10px #fff;
  border-top: solid 10px #fff;
  bottom: -19px;
  content: "";
  height: 0;
  left: 27px;
  position: absolute;
  transform: skew(-15deg);
  width: 0;
}

.panel {
  flex-basis: 400px;
}

/* background colours */

.panel:nth-child(1) {
  background-image: url(./Images/contact-form.png);
  background-size: cover;
}

.panel:nth-child(2) {
  background-image: url(./Images/timeline.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.panel:nth-child(3) {
  background-image: url(./Images/project\ cards.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.panel:nth-child(4) {
background-image: url(./Images/slider.png);
background-size: cover;
}

.panel:nth-child(5) {
  background-image: url(./Images/sneaker-website.png);
  background-size: cover;
}

  .panel:nth-child(6) {
    background-image: url(./Images/adding_numbers.png);
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .panel:nth-child(7) {
    background-image: url(./Images/BMI\ Converter.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

.project-btn {
  text-decoration: none;
  white-space: none;
}

.btn-1:hover {
  background: #e63838;
  border: #e63838;
  border-radius: 50px;
  padding: 5px;
}
